In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("tennis.txt")

In [5]:
df.head()

       sunny\thot\thigh\tweak\tN
0    sunny\thot\thigh\tstrong\tN
1     cloudy\thot\thigh\tweak\tY
2  rain\tmoderate\thigh\tweak\tY
3    rain\tcold\tnormal\tweak\tY
4  rain\tcold\tnormal\tstrong\tN